<%- include(`./includes/header`) %>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/super-build/ckeditor.js"></script>
<link rel="stylesheet" href="/css/client/blog.css">
<main class="center">
    <script>
        renderLoading();
        const page = '<%- page %>';
        $('main').attr('data-page', page);
    </script>
    <div class="main center col">
        <%
        function formatDate(datetimeString) {
            const date = new Date(datetimeString);
        
            const day = date.getUTCDate(); // Get the day of the month (1-31)
            const month = date.getUTCMonth() + 1; // Months are zero-indexed, so add 1
            const year = date.getUTCFullYear(); // Get the four-digit year
        
            // Pad single digit day and month with leading zero if needed
            const formattedDay = day < 10 ? `0${day}` : day;
            const formattedMonth = month < 10 ? `0${month}` : month;
        
            return `${formattedDay}/${formattedMonth}/${year}`;
        }
        %>
        <div class="blog-header container">
            <h2><%- blog.title %></h2>
        </div>
        <div class="blog-detail-container container col">
            <div class="blog-info full-width col">
                <div>
                    <span><i class="fa-regular fa-user"></i> <%- blog.admin_name %></span>
                </div>
                <div class="row category-container">                    
                    <span class="category"><i class="fa-regular fa-newspaper"></i> <%- blog.category_title %></span>  |  <span><i class="fa-regular fa-clock"></i> <%- formatDate(blog.created_at) %></span>
                </div>
            </div>
            <div class="blog-detail editor-container" id="blog-detail">
                <textarea name="" id="detail"></textarea>
            </div>
        </div>
        <div class="blogs-container container">
            <div class="list-blogs-header">
                <h2 data-translate="blog_text1">Các bài viết liên quan</h2>
            </div>
            <div class="list-blogs-container row">
                <% let blogsLength = blogs.length > 4 ? 4 : blogs.length %>
                <% for (let i = 0; i < blogsLength; i++) { 
                    if (blogs[i].blog_id == blog.blog_id) {
                        blogsLength = (blogsLength < blogs.length ? blogsLength + 1 : blogsLength)
                    } else { %>
                        <a href="<%- language == 'vn' ? `` : '/' + language %>/blog?title=<%- blogs[i].title %>&blog_id=<%- blogs[i].blog_id %>" class="blog col" title="<%- blogs[i].title %>">
                            <div class="img">
                                <img src="<%- blogs[i].main_image %>" alt="">
                            </div>
                            <div class="info-container col">
                                <div class="info flex-box row">
                                    <p><i class="fa-regular fa-user"></i> <%- blogs[i].admin_name %></p>
                                    <p><i class="fa-regular fa-clock"></i> <%- formatDate(blogs[i].created_at) %></p>
                                </div>
                                <div class="title">
                                    <h3><%- blogs[i].title %></h3>
                                </div>
                            </div>
                        </a>
                    <% } %>
                <% } %>            
            </div>
        </div>
    </div>
    <% for (let i = 0; i < mainData.texts.length; i++) { %>
        <script>
            $('#<%- mainData.texts[i].element_id %>').text(`<%- mainData.texts[i].detail %>`);
        </script>
    <% } %>
    <% for (let i = 0; i < mainData.images.length; i++) { %>
        <script>
            $('#<%- mainData.images[i].element_id %>').attr( 'id', `<%- mainData.images[i].src %>`);
        </script>
    <% } %>
</main>
<script>
    var editor;

    const blogDetail = `<%- blog.detail %>`;

    CKEDITOR.ClassicEditor
    .create(document.getElementById("detail"), {
        toolbar: {
            items: [
                'exportPDF','exportWord', '|',
                'findAndReplace', 'selectAll', '|',
                'heading', '|',
                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|',
                'undo', 'redo',
                '-',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                'alignment', '|',
                'link', 'uploadImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                'textPartLanguage', '|',
                'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
        },
        list: {
            properties: {
                styles: true,
                startIndex: true,
                reversed: true
            }
        },
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        placeholder: '',
        fontFamily: {
            options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
        },
        fontSize: {
            options: [ 10, 12, 14, 'default', 18, 20, 22 ],
            supportAllValues: true
        },
        htmlSupport: {
            allow: [
                {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true
                }
            ]
        },
        htmlEmbed: {
            showPreviews: true
        },
        link: {
            decorators: {
                addTargetToExternalLinks: true,
                defaultProtocol: 'https://',
                toggleDownloadable: {
                    mode: 'manual',
                    label: 'Downloadable',
                    attributes: {
                        download: 'file'
                    }
                }
            }
        },
        mention: {
            feeds: [
                {
                    marker: '@',
                    feed: [
                        '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                        '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                        '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                        '@sugar', '@sweet', '@topping', '@wafer'
                    ],
                    minimumCharacters: 1
                }
            ]
        },
        removePlugins: [
            'AIAssistant',
            'CKBox',
            'CKFinder',
            'EasyImage',
            'MultiLevelList',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            'MathType',
            'SlashCommand',
            'Template',
            'DocumentOutline',
            'FormatPainter',
            'TableOfContents',
            'PasteFromOfficeEnhanced',
            'CaseChange'
        ]
    })
    .then( newEditor => {
        editor = newEditor;

        editor.setData(blogDetail);

        editor.enableReadOnlyMode('myReadOnlyMode');
    } )
    .catch( error => {
        console.error( error );
    });
    removeLoading();
</script>
<script src="/js/client/blog.js"></script>
<%- include(`./includes/footer`) %>
<script>
    
    $(document).ready(function() {
        const blogTitle = '<%- blog.title %>';
        document.title = blogTitle;
    })

    const language = '<%- language %>'
    setLanguage(language);
</script>