<%- include(`./includes/header`) %>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/super-build/ckeditor.js"></script>
<link rel="stylesheet" href="/css/client/detailProduct.css">
<main class="center">
    <script>
        const page = '<%- page %>';
        $('main').attr('data-page', page);
    </script>
    <div class="main center col">
        <div class="full-width col center">
            <div class="container product-header row" data-productid="<%- product.product_id %>">
                <div class="box-image">
                    <div class="slide">
                        <% for (let i = 0; i < product.images.length; i++) { %>
                            <div class="item" style="background-image: url('<%- product.images[i].src %>');">
                                <div class="content">
                                    <div class="name"></div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="button center">
                        <button class="pre"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="box-content">
                    <div class="title-container">
                        <h1><%- product.product_name %></h1>
                    </div>
                    <p><%- product.category_title %> | 100Ah | 51.2V</p>
                    <div class="row info-product">
                        <a href="#specification" data-translate="" class="link-element">Thông số sản phẩm</a>
                        <a href="#detail" data-translate="" class="link-element">Chi tiết sản phẩm</a>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="row center full-width" id="specification">
                    <h1 class="title-demo">Thông số hóa</h1>
                </div>
            </div>
            <div class="row container center" style="margin-top: 20px;">
                <div class="col-3">
                    <div class="col center">
                        <p style="margin-bottom: 8px;">Tổng số Cell</p>
                        <h2><%- product.quantity_cell %> Cell</h2>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col center">
                        <p style="margin-bottom: 8px;">Dải công suất</p>
                        <h2><%- product.power_output_range %></h2>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col center">
                        <p style="margin-bottom: 8px;">Điện áp hệ thống lớn nhất</p>
                        <h2><%- product.max_system_vol %>V</h2>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col center">
                        <p style="margin-bottom: 8px;">Hiệu suất tấm pin lớn nhất</p>
                        <h2><%- product.max_efficiency %>%</h2>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col center">
                        <p style="margin-bottom: 8px;">Kích thước</p>
                        <h2><%- product.dimension %></h2>
                    </div>
                </div>
            </div>
            <div class="container row" style="margin-top: 160px;">
                <div class="row center full-width" id="detail">
                    <h1 class="title-demo">Chi tiết sản phẩm</h1>
                </div>
            </div>
            <div class="editor-container container">
                <textarea name="" id="product_detail"></textarea>
            </div>
        </div>
    </div>
    <% for (let i = 0; i < mainData.texts.length; i++) { %>
        <script>
            $('#<%- mainData.texts[i].element_id %>').text(`<%- mainData.texts[i].detail %>`);
        </script>
    <% } %>
    <% for (let i = 0; i < mainData.images.length; i++) { %>
        <script>
            $('#<%- mainData.images[i].element_id %>').attr( 'id', `<%- mainData.images[i].src %>`);
        </script>
    <% } %>
</main><script>
    var editor;

    const productDetail = `<%- product.detail %>`;

    CKEDITOR.ClassicEditor
    .create(document.getElementById("product_detail"), {
        toolbar: {
            items: [
                'exportPDF','exportWord', '|',
                'findAndReplace', 'selectAll', '|',
                'heading', '|',
                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|',
                'undo', 'redo',
                '-',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                'alignment', '|',
                'link', 'uploadImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                'textPartLanguage', '|',
                'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
        },
        list: {
            properties: {
                styles: true,
                startIndex: true,
                reversed: true
            }
        },
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        placeholder: '',
        fontFamily: {
            options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
        },
        fontSize: {
            options: [ 10, 12, 14, 'default', 18, 20, 22 ],
            supportAllValues: true
        },
        htmlSupport: {
            allow: [
                {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true
                }
            ]
        },
        htmlEmbed: {
            showPreviews: true
        },
        link: {
            decorators: {
                addTargetToExternalLinks: true,
                defaultProtocol: 'https://',
                toggleDownloadable: {
                    mode: 'manual',
                    label: 'Downloadable',
                    attributes: {
                        download: 'file'
                    }
                }
            }
        },
        mention: {
            feeds: [
                {
                    marker: '@',
                    feed: [
                        '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                        '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                        '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                        '@sugar', '@sweet', '@topping', '@wafer'
                    ],
                    minimumCharacters: 1
                }
            ]
        },
        removePlugins: [
            'AIAssistant',
            'CKBox',
            'CKFinder',
            'EasyImage',
            'MultiLevelList',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            'MathType',
            'SlashCommand',
            'Template',
            'DocumentOutline',
            'FormatPainter',
            'TableOfContents',
            'PasteFromOfficeEnhanced',
            'CaseChange'
        ]
    })
    .then( newEditor => {
        editor = newEditor;

        editor.setData(productDetail);

        editor.enableReadOnlyMode('myReadOnlyMode');
    } )
    .catch( error => {
        console.error( error );
    });
    removeLoading();
</script>
<script src="/js/detailProduct.js"></script>
<%- include(`./includes/footer`) %>
<script>
    const language = '<%- language %>'
    setLanguage(language);
</script>