<%- include(`./includes/header`) %>
<link rel="stylesheet" href="/css/client/home.css">
<main class="center">
    <script>
        const page = '<%- page %>';
        $('main').attr('data-page', page);
    </script>
    <div class="slider edit-element">
        <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
        <div class="list row" id="slider-list">
            <img src="" alt="" id="block1-image1">
            <img src="" alt="" id="block1-image2">
            <img src="" alt="" id="block1-image3">
        </div>
    </div>
    <!-- <script src="/js/slider.js"></script> -->
    <div class="main center col">
        <div class="block block1 container center col">
            <div class="main-block row edit-element full-width flex-box">
                <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                <img src="/image/base/logo.png" alt="" srcset="">
                <span id="block1-text1"></span>
            </div>
            <div class="info-capacity-container row">
                <div class="child edit-element">
                    <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                    <img src="" alt="" id="block1-image4">
                </div>
                <div class="child capacity edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <ul class="col">
                        <li class="row">
                            <div class="capacity-num center cnt-num" id="block1-text2"></div>
                            <div class="capacity-info">
                                <h3 data-translate="home_text1">Nhân sự có kinh nghiệm</h3>
                                <span data-translate="home_text2">Đội ngũ dày dặn kinh nghiệm, có kiến thức chuyên môn cao trong lĩnh vực năng lượng mặt trời.</span>
                            </div>
                        </li>
                        <li class="row">
                            <div class="capacity-num center cnt-num" id="block1-text3"></div>
                            <div class="capacity-info">
                                <h3 data-translate="home_text3">Công ty thành viên</h3>
                                <span data-translate="home_text4">Mang đến sự đa dạng và phong phú trong cách tiếp cận và giải pháp.</span>
                            </div>
                        </li>
                        <li class="row">
                            <div class="capacity-num center cnt-num" id="block1-text4"></div>
                            <div class="capacity-info">
                                <h3 data-translate="home_text5">Năm kinh nghiệm</h3>
                                <span data-translate="home_text6">Chúng tôi đã xây dựng nên sự uy tín và chuyên môn vững vàng trong ngành.</span>
                            </div>
                        </li>
                        <li class="row">
                            <div class="capacity-num center cnt-num" id="block1-text5"></div>
                            <div class="capacity-info">
                                <h3 data-translate="home_text7">Đối tác đã hợp tác</h3>
                                <span data-translate="home_text8">Cam kết mang lại giá trị tối đa cho mỗi dự án.</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="child col edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <span id="block1-text6" style="margin-top: 30px; white-space: pre-line;"></span>
                    <a href="<%- (language == 'vn' ? '' : ('/' + language)) %>/introduction" class="center" data-translate="home_text9">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="center" style="width: 100%; background-color: #ffecec; padding: 50px 0;">
            <div class="container">
                <div class="items-container row">
                    <div class="item col center edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <div class="icon-itm"><i class="fa-solid fa-signs-post"></i></div>
                        <h4 data-translate="home_text10">Tầm nhìn</h4>
                        <p id="block2-text1"></p>
                    </div>
                    <div class="item col center edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <div class="icon-itm"><i class="fa-solid fa-shield-halved"></i></div>
                        <h4 data-translate="home_text11">Sứ mệnh</h4>
                        <p id="block2-text2"></p>
                    </div>
                    <div class="item col center edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <div class="icon-itm"><i class="fa-solid fa-heart"></i></div>
                        <h4 data-translate="home_text12">Giá trị cốt lõi</h4>
                        <p id="block2-text3"></p>
                    </div>
                    <div class="item col center edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <div class="icon-itm"><i class="fa-solid fa-clipboard-question"></i></div>
                        <h4 data-translate="home_text13">Tại sao chọn CRC</h4>
                        <p id="block2-text4"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block container products col">
            <div class="header-block">
                <h1 data-translate="home_text14">CÁC SẢN PHẨM CỦA CRC SOLAR</h1>
            </div>
            <div class="categories-container">
                <ul class="row">
                    <li class="active"><span data-translate="home_text15">Tất cả</span></li>
                    <% for (let i = 0; i < headerData.product_categories.length; i ++) { %>
                        <li data-product-category-id="<%- headerData.product_categories[i].product_category_id %>"><span><%- headerData.product_categories[i].title %></span></li>    
                    <% } %>
                </ul>
            </div>
            <div class="products-container full-width">
                <ul class="row full-width">
                    <% for (let i = 0; i < headerData.products.length; i ++) { %>
                        <li class="col" data-productid="<%- headerData.products[i].product_id %>">
                            <a href="<%- (language == 'vn' ? '' : ('/' + language)) + `/product/` + headerData.products[i].product_name %>" class="full-width"><img src="<%- headerData.products[i].src %>" alt="" srcset="" class="full-width"></a>
                            <span><%- headerData.products[i].product_name %></span>
                        </li>    
                    <% } %>
                </ul>
            </div>
            <div class="button-see-more full-width">
                <a href="<%- (language == 'vn' ? '' : ('/' + language)) %>/products" data-translate="home_text9" class="center">Xem thêm</a>
            </div>
        </div>
        <div class="block container technologies col">
            <div class="header-block">
                <h1 data-translate="home_text16">CÔNG NGHỆ</h1>
            </div>
            <div class="technologies-container">
                <ul class="row">
                    <% if (headerData.technologies.length > 0) { %>
                        <li class="active" data-technologyid="<%- headerData.technologies[0].technology_id %>"><span><%- headerData.technologies[0].technology_name %></span></li>
                    <% } %>
                    <% for (let i = 1; i < headerData.technologies.length; i ++) { %>
                        <li data-technologyid="<%- headerData.technologies[i].technology_id %>"><span><%- headerData.technologies[i].technology_name %></span></li>    
                    <% } %>
                </ul>
            </div>
            <div class="detail-technologies-container full-width">
                <div class="list">
                    <% for (let i = 0; i < headerData.technologies.length; i ++) { %>
                        <div class="row full-width" data-technologyid="<%- headerData.technologies[i].technology_id %>">
                            <div class="image">
                                <img src="<%- headerData.technologies[i].image %>" alt="" srcset="">
                            </div>
                            <div class="description">
                                <span><%- headerData.technologies[i].description %></span>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="block container col">
            <div class="header-block">
                <h1 data-translate="home_text17">Tin tức & Báo chí</h1>
            </div>
            <div class="main-new row">
                <div class="video-container">
                    <video id="myVideo" controls autoplay>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="new edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <h3 data-translate="home_text18">CÔNG TY CỔ PHẦN CRC SOLAR CELL</h3>
                    <P id="block5-text1"></P>
                </div>
            </div>
            <div class="newsletters-container row">
                <%
                    function formatDate(datetimeString) {
                        const date = new Date(datetimeString);
                    
                        const day = date.getUTCDate(); // Get the day of the month (1-31)
                        const month = date.getUTCMonth() + 1; // Months are zero-indexed, so add 1
                        const year = date.getUTCFullYear(); // Get the four-digit year
                    
                        // Pad single digit day and month with leading zero if needed
                        const formattedDay = day < 10 ? `0${day}` : day;
                        const formattedMonth = month < 10 ? `0${month}` : month;
                    
                        return `${formattedDay}/${formattedMonth}/${year}`;
                    }
                %>
                <% for (let i = 0; i< blogs.length; i++) { %>
                    <a href="<%- language == 'vn' ? `` : '/' + language %>/blog?title=<%- blogs[i].title %>&blog_id=<%- blogs[i].blog_id %>" class="newsletter col" title="<%- blogs[i].title %>">
                        <div class="img">
                            <img src="<%- blogs[i].main_image %>" alt="">
                        </div>
                        <div class="info-container col">
                            <div class="info flex-box row">
                                <p><i class="fa-regular fa-user"></i> <%- blogs[i].admin_name %></p>
                                <p><i class="fa-regular fa-clock"></i> <%- formatDate(blogs[i].created_at) %></p>
                            </div>
                            <div class="title">
                                <h3><%- blogs[i].title %></h3>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
            <div class="button-see-more full-width">
                <a href="<%- (language == 'vn' ? '' : ('/' + language)) %>/news" data-translate="home_text9" class="center">Xem thêm</a>
            </div>
        </div>
    </div>
    <% for (let i = 0; i < mainData.texts.length; i++) { %>
        <script>
            $('#<%- mainData.texts[i].element_id %>').text(`<%- mainData.texts[i].detail %>`);
        </script>
    <% } %>
    <% for (let i = 0; i < mainData.images.length; i++) { %>
        <script>
            $('#<%- mainData.images[i].element_id %>').attr( 'src', `<%- mainData.images[i].src %>`);
        </script>
    <% } %>
    
</main>
<script src="/js/client/home.js"></script>
<%- include(`./includes/footer`) %>
<script>
    const language = '<%- language %>'
    setLanguage(language);
</script>