<%- include(`./includes/header`) %>
<link rel="stylesheet" href="/css/client/introduction.css">
<main class="center">
    <script>
        const page = '<%- page %>';
        $('main').attr('data-page', page);
    </script>
    <div class="about top-main center col">
        <h1 data-translate="intro_text21">Giới thiệu</h1>
    </div>
    <div class="main center col">
        <div class="block container block1 row">
            <div class="left col flex-box edit-element">
                <div class="image">
                    <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                    <img src="/image/gioi-thieu.png" alt="" id="intro_image1">
                </div>
                <div class="general-intro col edit-element" style="margin-top: 20px;">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <div class="child row flex-box">
                        <div class="child-icon center"><i class="fa-solid fa-building"></i></div>
                        <div class="child-content col">
                            <h3 data-translate="intro_text1">Tên công ty</h3>
                            <h4 id="block1_text1"></h4>
                        </div>
                    </div>
                    <div class="child row flex-box">
                        <div class="child-icon center"><i class="fa-solid fa-users"></i></div>
                        <div class="child-content col">
                            <h3 data-translate="intro_text2">Ban lãnh đạo</h3>
                            <h4 id="block1_text2"></h4>
                            <h4 id="block1_text3"></h4>
                        </div>
                    </div>
                    <div class="child row flex-box">
                        <div class="child-icon center"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                        <div class="child-content col">
                            <h3 data-translate="intro_text3">Lĩnh vực kinh doanh</h3>
                            <h4 id="block1_text4"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mid col flex-box">
                <div class="edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <div class="child center col">
                        <div class="child-icon center"><i class="fa-solid fa-building-flag"></i></div>
                        <div class="child-content col" style="width: 100%;">
                            <h3 data-translate="intro_text4" class="center">Nền tảng Công ty</h3>
                            <h5 data-translate="intro_text5" class="center">Thành lập</h5>
                            <h3 id="block1_text5" class="center"></h3>
                            <h5 data-translate="intro_text6" class="center">Vốn pháp định</h5>
                            <h3 id="block1_text6" class="center"></h3>
                            <h5 data-translate="intro_text7" class="center">Nhân sự</h5>
                            <h3 id="block1_text7" class="center"></h3>
                        </div>
                    </div>
                </div>
                <div class="edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <div class="child flex-box row">
                        <div class="child-icon center"><i class="fa-solid fa-building-circle-check"></i></div>
                        <div class="child-content col">
                            <h3 data-translate="intro_text8" class="">Sứ mệnh</h3>
                            <span id="block1_text8"></span>
                        </div>
                    </div>
                    <div class="child flex-box row">
                        <div class="child-icon center"><i class="fa-solid fa-signs-post"></i></div>
                        <div class="child-content col">
                            <h3 data-translate="intro_text9" class="">Tầm nhìn</h3>
                            <span id="block1_text9"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col flex-box">
                <div class="col edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <div class="child col">
                        <div class="child-icon center"><i class="fa-solid fa-city"></i></div>
                        <div class="child-content col">
                            <h3 data-translate="intro_text10" class="center">Trụ sở chính</h3>
                            <div class="row flex-box">
                                <i class="fa-solid fa-location-dot"></i>
                                <span id="block1_text10"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <div class="child col">
                        <div class="child-icon center"><i class="fa-solid fa-industry"></i></div>
                        <div class="child-content col">
                            <h3 data-translate="intro_text11" class="center">Nhà máy</h3>
                            <div class="row flex-box">
                                <i class="fa-solid fa-location-dot"></i>
                                <span id="block1_text11"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center" style="width: 100%; background-color: var(--mainColor)">
            <div class="capacity-container container block row edit-element">
                <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                <div class="capacity col center">
                    <h2 class="cnt-num" id="block2_text1"></h2>
                    <span data-translate="intro_text12">Nhân sự có kinh nghiệm</span>
                </div>
                <div class="capacity col center">
                    <h2 class="cnt-num" id="block2_text2"></h2>
                    <span data-translate="intro_text13">Công ty thành viên</span>
                </div>
                <div class="capacity col center">
                    <h2 class="cnt-num" id="block2_text3"></h2>
                    <span data-translate="intro_text14">Năm kinh nghiệm</span>
                </div>
                <div class="capacity col center">
                    <h2 class="cnt-num" id="block2_text4"></h2>
                    <span data-translate="intro_text15">Đối tác đã hợp tác</span>
                </div>
            </div>
        </div>
        <div class="center" style="width: 100%; background-color: var(--blueBlock2); border-bottom: 1px solid #eee;">
            <div class="block block2 container row">
                <div class="left col edit-element">
                    <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                    <h1 data-translate="intro_text16">Vì sao nên chọn CRC?</h1>
                    <p id="block2_text5"></p>
                </div>
                <div class="right edit-element">
                    <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                    <img src="/image/slide6.jpg" alt="" id="intro_image2">
                    <img src="/image/logo.png" alt="" class="logo">
                </div>
            </div>
        </div>
        <div class="block block3 container col">
            <div class="top-block">
                <span data-translate="intro_text17">Đội ngũ chuyên gia</span>
            </div>
            <div class="row header">
                <h1 data-translate="intro_text22">Gặp gỡ, trao đổi với những nhân tố tham gia vào cuộc cách mạng năng lượng</h1>
                <span data-translate="intro_text23">Đội ngũ chuyên gia của CRC SOLAR có kinh nghiệm sâu rộng trong ngành, mang lại lợi thế cạnh tranh vượt trội. Chúng tôi cam kết cung cấp các giải pháp điện mặt trời tiên tiến và hiệu quả nhất, đồng hành để thúc đẩy sự phát triển bền vững và tiết kiệm chi phí cho quý khách hàng.</span>
            </div>
            <div class="people-container row">
                <div class="items-people edit-element">
                    <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                    <img src="/image/people1.jpg" alt="" srcset="" id="intro_image3">
                    <div class="profile col">
                        <div class="edit-element col">
                            <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                            <h1 id="block3_text1"></h1>
                            <span id="block3_text2"></span>
                        </div>
                    </div>  
                </div>
                <div class="items-people edit-element">
                    <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                    <img src="/image/people2.jpg" alt="" srcset="" id="intro_image4">
                    <div class="profile col">
                        <div class="edit-element col">
                            <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                            <h1 id="block3_text3"></h1>
                            <span id="block3_text4"></span>
                        </div>
                    </div>  
                </div>
                <div class="items-people edit-element">
                    <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                    <img src="/image/people3.jpg" alt="" srcset="" id="intro_image5">
                    <div class="profile col">
                        <div class="edit-element col">
                            <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                            <h1 id="block3_text5"></h1>
                            <span id="block3_text6"></span>
                        </div>
                    </div>  
                </div>
                <div class="items-people edit-element">
                    <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                    <img src="/image/people4.jpg" alt="" srcset="" id="intro_image6">
                    <div class="profile col">
                        <div class="edit-element col">
                            <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                            <h1 id="block3_text7"></h1>
                            <span id="block3_text8"></span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="extra-contact col center">
            <h1 data-translate="intro_text18">Bạn đã sẵn sàng để trải nghiệm sản phẩm của chúng tôi? <br> Hãy liên hệ với chúng tôi ngay hôm nay</h1>
            <span data-translate="intro_text19">Chuyên viên của chúng tôi sẵn sàng hỗ trợ bạn hiểu được cách năng lượng mặt trời có thể hoạt động cho ngôi nhà của bạn. Hãy đăng ký một buổi tư vấn miễn phí và không ràng buộc để đánh giá nhu cầu năng lượng của bạn cũng như tiềm năng tiết kiệm có thể đạt được.</span>
            <button>
                <div class="background"></div>
                <a href="/contact" data-translate="intro_text20">Đặt lịch ngay</a>
            </button>
        </div>
        <div class="block block4 container col">
            <div class="top-block">
                <span data-translate="intro_text24">Phản hồi từ khách hàng</span>
            </div>
            <div class="row header">
                <h1 data-translate="intro_text25">Những đánh giá khách quan tới từ khách hàng đã sử dụng sản phẩm của CRC Solar</h1>
                <span data-translate="intro_text26">Chúng tôi tin vào sức mạnh của năng lượng tái tạo để tạo ra một tương lai bền vững hơn. Với niềm đam mê năng lượng sạch và cam kết với khách hàng, chúng tôi tận tâm cung cấp các giải pháp tốt nhất có thể.</span>
            </div>
            <div class="feedbacks-container">
                <div class="feedback col">
                    <div class="bio row edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <div class="image edit-element">
                            <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                            <img src="/image/user.jpg" alt="" id="intro_image7">
                        </div>
                        <div class="info col">
                            <div class="name">
                                <span id="block4_text1"></span>
                            </div>
                            <div class="location">
                                <p id="block4_text2"></p>
                            </div>
                            <div class="project">
                                <p id="block4_text3"></p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-detail edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <p id="block4_text4"></p>
                    </div>
                </div>
                <div class="feedback col">
                    <div class="bio row edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <div class="image edit-element">
                            <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                            <img src="/image/user.jpg" alt="" id="intro_image8">
                        </div>
                        <div class="info col">
                            <div class="name">
                                <span id="block4_text5"></span>
                            </div>
                            <div class="location">
                                <p id="block4_text6"></p>
                            </div>
                            <div class="project">
                                <p id="block4_text7"></p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-detail edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <p id="block4_text8"></p>
                    </div>
                </div>
                <div class="feedback col">
                    <div class="bio row edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <div class="image edit-element">
                            <button class="edit-button-image"><i class="fa-solid fa-camera"></i></button>
                            <img src="/image/user.jpg" alt="" id="intro_image9">
                        </div>
                        <div class="info col">
                            <div class="name">
                                <span id="block4_text9"></span>
                            </div>
                            <div class="location">
                                <p id="block4_text10"></p>
                            </div>
                            <div class="project">
                                <p id="block4_text11"></p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-detail edit-element">
                        <button class="edit-button-text"><i class="fa-solid fa-pen"></i></button>
                        <p id="block4_text12"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% for (let i = 0; i < mainData.texts.length; i++) { %>
        <script>
            $('#<%- mainData.texts[i].element_id %>').text(`<%- mainData.texts[i].detail %>`);
        </script>
    <% } %>
    <% for (let i = 0; i < mainData.images.length; i++) { %>
        <script>
            $('#<%- mainData.images[i].element_id %>').attr( 'src', `<%- mainData.images[i].src %>`);
        </script>
    <% } %>
</main>
<%- include(`./includes/footer`) %>
<script>
    const language = '<%- language %>'
    setLanguage(language);
</script>